*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
a:visited{
    color: rgb(150, 150, 150);
}
a:active{
    color: rgb(150, 150, 150);
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidenav nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav nav a:hover {
    color: #f1f1f1;
}
.last{
    margin: 20px;
}

.logo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    color: #f1f1f1;
    font-weight: bold;
}

main{
    margin-left: 240px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}