body{
    color:#1c1c1c;
}

h1,h2,h3{
    color:#000;
    
}

.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 

    
    background-color:#191970;
}
.servicos >h2{
    color: white;
}


.carousel-caption >h5{
    color: black;
}
.carousel-inner{
    max-height: 550px;

}
.carousel-item > a > img{
    max-height: 550px;
}
 
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}
.sobre h2{
    color: #ffffff;
}
.sobre p{
    margin-bottom: 2.5rem;
    max-width: 1000px;
}

