body{
    background-color:#B0E0E6;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
p,span,a{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.LOng > img{
    height:300px;
    width: 300px;
}
.descricao > h2{
    text-align: center;
}
.descricao{
    width: 65%;

    border-radius: 15px;
}
.adocao >h1{
    text-align: center;
}
.adocao{

    margin-bottom: 10px;

    border-radius: 15px;
    background-color: #E0FFFF;
    box-shadow: 0 0 1em #191970;
}

.animals{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    grid-gap: 20px;

}
.animal > span{
    display: flex;
    flex-direction: column;


    color:black;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
}
.animal > img{
    width: 200px;
    height: 200px;

}
.animal{
    max-width: 300px;
    padding: 5px;
    border-radius: 10px;

}
.button{
    padding: 12px 10px;
    background-color: #2ecc71;
    color: #FFF !important;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.4s;
    
}
.button:hover{
    background-color: #019c42;
    text-decoration: none;
}
#container_mapAddress, #container_descriptionOng{
    box-shadow: 0 0 1em #191970;
}
@media only screen and (max-width:1024px) {
    .animals{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin: 0 auto;
        grid-gap: 20px;
    }
}
@media only screen and (max-width: 768px) {
    #container-map{
        padding: 0px !important;
    }
    #map{
        width: 200% !important;
    } 
    p{
        font-size: 15px;
    }
    .LOng > img{
        height:200px;
        width: 200px;
    }
    .descricao{
        width: 100%;
        border-radius: 15px;
    }
    .animals{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
        margin: 0 auto;
        grid-gap: 20px;
    }
}
@media only screen and (max-width: 480px) {
    #container_mapAddress{
        padding: 0px !important;
    }
    p{
        font-size: 15px;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 10px !important;
    }
    #container-map{
        padding-top: 10px!important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 2px !important;
    }
    #map{
        width: 200% !important;
    }
}