.body{
    width: 100%;
    height: 100%;
}
#upload{
    font-size: 25px;
    color: blue;
    margin-left: 2px;
}
#imgInput > i:hover{
    transform: scale(1.2);
}
.inputButton{
    cursor: pointer;
}
#foto_animal{
    display: none;
}
#animalView{
    width: 200px;
    height: 200px;
}
#foto_address{
    display: none;
}
#addressPreview{
    width: 200px;
    height: 200px;
}
#buttonAcaoLogin{
    color: white;
    border-radius: 8px;
}
#buttonSemAcao{
    opacity: 0.50; 
    border-radius: 8px;
    color: white; 
    pointer-events: none;
}
#animalViewSemLogin, #addressPreviewSemLogin{
    background-color: #6c757d; 
    opacity: 0.18;
    width: 200px;
    height: 200px;
}
.pac-container {
    z-index: 10000 !important;
}

body{
    background-color: #B0E0E6 !important;
}

h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
label,.links{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
main{
    display: grid;
    margin: auto;
}

form input[type=text],
        [type=password],
        [type=number]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
form input[type=submit]{
    border-radius: 10px;
}
form{
    border-radius: 30px;
}
.links{
    text-align: center;
    font-size: small;
}
footer {
    margin-top: 0px;
}
@media only screen and (min-width:1281px){
    main{
        width: 75% !important;
    }
}
@media only screen and (max-width: 1281px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        width: 700px !important;
    }
}
@media only screen and (max-width: 1025px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        width: 80% !important;
    }
}
@media only screen and (max-width: 801px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        width: 75% !important;
    }
}
@media only screen and (min-width: 601px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        width: 70% !important;
    }
}
@media only screen and (max-width: 600px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        max-width: 100% !important;
    }
    .pr-5, .px-5 {
        padding-right: 1rem!important;
        padding-left: 1rem!important; 
    }
}


