#foto_animal{
    display: none;
}
#upload{
    font-size: 25px;
    color: blue;
    margin-left: 2px;
}
#imgInput > i:hover{
    transform: scale(1.2);
}
.inputButton{
    cursor: pointer;
}
#animalView{
    width: 200px;
    height: 200px;
}
#foto_address{
    display: none;
}
#addressPreview{
    width: 200px;
    height: 200px;
}
#buttonAcaoLogin{
    color: white;
    border-radius: 8px;
}
#buttonSemAcao{
    opacity: 0.50; 
    border-radius: 8px;
    color: white; 
    pointer-events: none;
}
#animalViewSemLogin, #addressPreviewSemLogin{
    background-color: #6c757d; 
    opacity: 0.18;
    width: 200px;
    height: 200px;
}
.pac-container {
    z-index: 10000 !important;
}


