body{
    background-color: #B0E0E6;
}

h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
label,.links{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
main{
    display: grid;
    margin: auto;
}

form input[type=text],
        [type=password],
        [type=number]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
form input[type=submit]{
    border-radius: 10px;
}
form{
    border-radius: 30px;
}
.links{
    text-align: center;
    font-size: small;
}
footer {
    margin-top: 0px;
}
@media only screen and (min-width:1281px){
    main{
        width: 700px !important;
    }
}
@media only screen and (max-width: 1281px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        width: 700px !important;
    }
}
@media only screen and (max-width: 1025px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        width: 700px !important;
    }
}
@media only screen and (max-width: 801px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        width: 600px !important;
    }
}
@media only screen and (max-width: 600px) {
    form{
        font-size: 15px;
        place-self: center;
    }
    main{
        max-width: 98% !important;
    }
    .pr-5, .px-5 {
        padding-right: 1rem!important;
        padding-left: 1rem!important; 
    }
}
