main > p{
    color: black;
}
.User > h2{
    text-align: center;
    color: black;
}
.User >p {
    color: white;
    font-size: 20px;
}
.button{
    padding: 5px 20px;
    position:absolute;
}
.reportes{
    width: 75%;
}
.infoUser{
    width: 75%;
}
.perfilimg{
    max-width:300px ;
    max-height:300px ;
}
hr{
    height:1px !important;
    border:none !important;
    color:#333 !important;
    background-color:#333 !important;
}
#userView{
    width: 200px;
    height: 200px;
}
#arquivo{
    display: none;
}
#upload{
    font-size: 25px;
    color: blue;
    margin-left: 2px;
}
.inputButton{
    cursor: pointer;
}
.perfilimg{
    max-width:200px ;
    max-height:200px ;
}
@media only screen and (max-width: 640px) {
    
    .reportes{
        width: 95%;
    }
    .infoUser{
        width: 95%;
    }
}