body{
    background-image: url(../imgsUpdate/perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.User > h2{
    text-align: center;
    color: white;
}
.User >p {
    color: white;
    font-size: 20px;
}
.button{
    padding: 5px 20px;
}