#botaoSemAcao{
    opacity: 0.80; 
    pointer-events: none;
}
hr{
    height:1px !important;
    border:none !important;
    color:#333 !important;
    background-color:#333 !important;
}
form{
    width: 100% !important;
}